<br />
<br />
<br />
<div class="parent">
  <div id="div1">
    <p id="title">
      Eight Things Founders Wish They Were Told Before They Ventured Into
      Entrepreneurship In The MENA Region
    </p>
    <img
      id="kbira"
      src="https://assets.entrepreneur.com/content/3x2/2000/1638677505-Untitleddesign-2021-12-05T081123459.png?format=jpg&width=500&crop=3:2"
    />
    <p>
      Once you become an entrepreneur, it’s easy to get sucked into the eye of
      the storm and get entrapped by a mindset that is focused purely on keeping
      the business afloat and running. But a bit of introspection would often
      allow the founders of these businesses to realize that things could have
      been done differently- or not done at all.
    </p>
  </div>
  <div id="div2">
    <p id="title2">
      How Saudi Arabia's TAQADAM Is Powering A New Cohort Of Global Founders
    </p>
    <img
      id="sghira"
      src="https://assets.entrepreneur.com/content/3x2/2000/1637554060-Untitleddesign-2021-11-22T080725875.png?auto=webp&quality=95&crop=16:9&width=675"
    />
    <p>
      With this year's bootcamp now wrapped, our latest TAQADAM cohort will now
      reimagine and reignite their work before diving into the accelerator
      program.If you are looking for variety and sweat then Boot Camps could be
      the right option for you. There are hundreds of Boot Camps and all are
      slightly different. Attending a Boot Camp ensures that every session is
      effective, every exercise is performed correctly and every attendance
      moves you closer towards your goal.
    </p>
  </div>
  <div id="div3">
    <p id="title2">Habits You Need to Develop for Greater Productivity</p>
    <img
      id="sghira"
      src="https://img-19.ccm2.net/WNCe54PoGxObY8PCXUxMGQ0Gwss=/480x270/smart/d8c10e7fd21a485c909a5b4c5d99e611/ccmcms-commentcamarche/20456790.jpg"
    />
    <p>
      Productive people have one thing in common: a solid routine consisting of
      small habits that help them to keep a healthy mindset and lifestyle. For
      many successful people, these habits didn't take long to incorporate into
      their routine. Research has shown that a habit takes approximately 21 days
      to become normal behavior. So, here are some habits you can start
      practicing to become more productive.
    </p>
  </div>
  <div id="div4">
    <p id="title2">Brace For Impact: It's Time To Usher In The Metaverse</p>
    <img
      id="sghira"
      src="https://assets.entrepreneur.com/content/3x2/2000/1644530013-shutterstock-2062865573.jpg?format=jpg&width=500&crop=3:2"
    />
    <p>
      The metaverse is poised to usher in some major changes to the way we all
      live. It will shift our whole relationship with the material world, from
      our sense of borders to our attitude toward wealth.
    </p>
  </div>
</div>
