<div [attr.disabled]="isDisabled">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <label>Email :</label>
    <input type="email" name="email" ngModel required #email="ngModel" />
    <label>Password :</label>
    <input
      type="password"
      type="password"
      name="password"
      ngModel
      required
      #password="ngModel"
    />
    <label>firstName :</label>
    <input
      type="firstName"
      name="firstName"
      ngModel
      required
      #username="ngModel"
    />
    <label>lastName :</label>
    <input
      type="lastName"
      name="lastName"
      ngModel
      required
      #lastname="ngModel"
    />
    <div>
      <input type="checkbox" />
      <label>Please accept terms and conditions</label>
    </div>
    <div class="button">
      <button class="submit" type="submit" routerLink='login' routerLinkActive="router-link-active" >
        Sign up here
      </button>
    </div>
  </form>

  <!-- <p>Terms : {{ terms }}</p> -->
</div>
