<div>
  <form>
    <label>Email :</label>
    <input type="email" />
    <label>Password :</label>
    <input type="password" />
    <label>firstName :</label>
    <input type="username" />
    <label>lastName :</label>
    <input type="lastname" />
    <div>
      <input type="checkbox" />
      <label>Please accept terms and conditions</label>
    </div>
    <div class="button">
      <button class="submit" type="submit">Sign up here</button>
    </div>
  </form>

  <!-- <p>Terms : {{ terms }}</p> -->
</div>
