<div class="add-tuto-container">
  <label class="add-img">image:</label>
  <input type="file" />
  <label class="add-title">Title:</label>
  <input
    name="title"
    type="text"
    class="form-control"
    placeholder="write your title..."
  />
  <label class="add-tuto">blog:</label>
  <textarea
    name="text"
    type="text"
    class="form-control"
    placeholder="blog..."
  ></textarea>
  <button type="button" class="confirm-btn btn btn-secondary btn-lg btn-block">
    Confirm and SAVE
  </button>
</div>
