.add-tuto-container {
  margin: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: larger;
}
label {
  margin-top: 2%;
}
button {
  margin-top: 3%;
}
