#navbarDropdown {
  margin-left: 1000px !important;
}
.nav-item {
  margin: right 100px !important;
}
.dropdown-menu {
  margin-left: 900px !important;
}
.form-inline my-2 my-lg-0 {
  margin: right 400px, import !important;
}
