#navbarDropdown {
  margin-left: 850px;
  font-family: Georgia;
  color: aliceblue;
}
.dropdown-divider {
  margin-right: 900px;
  width: 5%;
}

a {
  font-family: Georgia;
  color: aliceblue;
  margin-left: 5px;
}
#hello {
  font-family: Georgia;
  color: aliceblue;
  margin-left: 5px;
}
#i {
  color: #343a40;
}

.dropdown-menu {
  color: black;
}
#dev {
  color: black;
}

#log {
  color: black;
}
#about {
  color: black;
}
#sha {
  color: black;
}

#dev {
  width: 25%;
  margin-left: 750px;
}
