div{
margin-right: 50px;
    text-align: center;
  }
  
  .centerdiv {
    margin-left: 225px;
    width: 50%;
    padding: 10px;
  }
  
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
 
